machine:

  docker:
    - image: circleci/python:3.8

  environment:
    TOXENV: circleci

dependencies:
  override:
    - pip install -U pip setuptools tox
    - tox --notes

  cache_directories :
    - "~/.cache/pip"


test:
  override:
    - tox

  post:
    - mkdir -p $CIRCLE_TEST_REPORTS/pytest
    - mv .junit.xml $CIRCLE_TEST_REPORTS/pytest/junit.xml