# Set up an OS details and browsers we test on.

[Windows_7_Firefox]
os = Windows
os_version = 7
browser = Firefox
browser_version = 41.0

[Windows_7_IE]
os = Windows
os_version = 7
browser = IE
browser_version = 11.0

[Windows_7_Chrome]
os = Windows
os_version = 7
browser = Chrome
browser_version = 43.0

[Windows_7_Opera]
os = Windows
os_version = 7
browser = Opera
browser_version = 12.16

[OSX_Yosemite_Firefox]
os = OS X
os_version = Yosemite
browser = Firefox
browser_version = 38.0

[OSX_Yosemite_Safari]
os = OS X
os_version = Yosemite
browser = Safari
browser_version = 8.0